@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=PT+Sans+Narrow&family=Titillium+Web&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  transition-property: all;
  transition-duration: 1s;
}

/* .upper-container {
  width: 100vw;
  height: 20vh;

  background-image: url(Images/background_cloudy.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* html {
  background-color: rgb(141, 128, 128);
} */

hr {
  width: 70vw;
  margin: auto;
  color: black;
}

.weather-container {
  margin: 1rem 10%;
  text-align: center;
  width: auto;
  height: auto;
  box-shadow: 0.5rem 0.5rem 2rem rgb(101, 107, 109);
  border-radius: 2rem;
  display: block;
  transition-property: all;
  transition-duration: 1s;
}

.wind-block,
.humidity-block,
.visability-block,
.day-duration-block {
  margin: 1rem 10%;
  padding: 1rem;
  text-align: center;
  width: auto;
  height: auto;
  box-shadow: 0.5rem 0.5rem 2rem rgb(101, 107, 109);
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition-property: all;
  transition-duration: 1s;
}

#arc {
  margin: 1rem auto 0;
  width: 200px;
  height: 100px;
  border-radius: 50% / 100% 100% 0 0;
  border: solid rgba(78, 80, 80, 0.781);
  border-bottom: none;
}

.sun-rise-set {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#sun {
  position: relative;
  left: 7px;
  bottom: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(214, 177, 73);
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: linear;
  transform-origin: 105px;
}

#sunset {
  margin-left: 160px;
}

#car {
  margin: 0.5rem 0;
  width: 70px;
  height: 70px;
  background-color: rgb(94, 92, 92);
  box-shadow: 0 0 0.5rem 0.5rem rgb(94, 92, 92);
  border-radius: 1rem;
  transition-property: transform;
  transition-duration: 1s;
}

#location {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#location-btn {
  transition-property: all;
  transition-duration: 0.5s;
  width: 60px;
  height: 60px;
  background-color: rgb(164, 177, 176);
  border-radius: 50%;
  margin-top: 0.5rem;
}

#location-btn:hover,
#scroll-left-btn:hover,
#scroll-right-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

#location-btn img:hover,
#scroll-left-btn img:hover,
#scroll-right-btn img:hover {
  opacity: 0.8;
}

#location-btn img,
#scroll-left-btn img,
#scroll-right-btn img {
  transition-property: all;
  transition-duration: 0.5s;
  display: block;
  margin: 1rem auto 0;
  width: 30px;
  height: 30px;
}

#scroll-left-btn,
#scroll-right-btn {
  margin: auto;
  transition-property: all;
  transition-duration: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#scroll-left-btn img,
#scroll-right-btn img {
  width: 15px;
  height: 15px;
  margin: 0.5rem auto;
}

#scroll-left-btn img {
  transform: rotate(180deg);
}

#city {
  margin-top: 0.5rem;
  font-size: 2rem;
  transition-property: all;
  transition-duration: 0.5s;
}

#city:hover {
  transition-property: all;
  transition-duration: 0.5s;
  cursor: pointer;
  opacity: 0.8;
  color: rgb(110, 196, 223);
}

.weather-data {
  transition-property: all;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
}

.main-states {
  display: flex;
  justify-content: start;
  margin-left: 2rem;
}

#temperature {
  font-size: 2rem;
}

.feeling-state-block {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

#state {
  display: flex;
  align-items: center;
}

#state img {
  width: 40px;
  height: 40px;
}

.other-states {
  display: flex;
  justify-content: start;
  margin: 1rem auto;
}

.other-states img {
  width: 30px;
  height: 30px;
}

#wind,
#humidity,
#pressure {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 0;
}

.weather-forecast-bar {
  display: flex;
  justify-content: start;
  margin: auto;
  width: 70vw;
}

#time-weather-prediction {
  margin: auto;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#time-weather-prediction::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.forecast-element {
  transition-property: all;
  transition-duration: 0.5s;
}

.forecast-element:hover {
  opacity: 0.6;
  cursor: pointer;
  background-color: rgb(164, 177, 176);
}

.forecast-element img {
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  #wind,
  #humidity,
  #pressure {
    padding: 1rem 2rem 0;
  }
}

@media (max-width: 730px) {
  #wind,
  #humidity,
  #pressure {
    padding: 1rem 1rem 0;
  }
  #time-weather-prediction {
    justify-content: start;
  }
}

@media (max-width: 570px) {
  #wind,
  #humidity,
  #pressure {
    flex-direction: column;
  }
  #location-btn {
    margin-top: 1rem;
    width: 40px;
    height: 40px;
  }
  #location-btn img {
    margin-top: 0.7rem;
    width: 20px;
    height: 20px;
  }

  #scroll-left-btn,
  #scroll-right-btn {
    width: 20px;
    height: 20px;
  }

  #scroll-left-btn img,
  #scroll-right-btn img {
    width: 10px;
    height: 10px;
    margin: 0.3rem auto;
  }
}

@media (max-width: 350px) {
  #city {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  #location-btn {
    margin-top: 0;
    margin: 1rem auto;
  }
  #location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-states {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* popup styles */

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  transform: translateX(-200%);
  background: #f0f0f5;
  border-radius: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  z-index: 9;
}

.popup.active {
  transform: translateX(0);
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.popup-close span {
  display: block;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  position: relative;
}

.popup-close span:after {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.form {
  width: 100%;
}

.form-group {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

.form-input {
  border: none;
  border-bottom: 2px solid #eee;
  color: rgb(65, 46, 46);
  background: transparent;
  outline: none;
  font-size: 19px;
  width: 75%;
  padding: 5px;
}

.form-submit {
  background: #000;
  color: rgb(197, 190, 190);
  width: 18%;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;
}

.form-input::placeholder {
  color: rgb(204, 191, 191);
}
