@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=PT+Sans+Narrow&family=Titillium+Web&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}

/* .upper-container {
  width: 100vw;
  height: 20vh;

  background-image: url(Images/background_cloudy.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* html {
  background-color: rgb(141, 128, 128);
} */
.weather-container {
  margin: 1rem auto;
  text-align: center;
  width: 80vw;
  height: auto;
  border: solid black;
  border-radius: 2rem;
  display: block;
}

#location {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#location-btn {
  transition-property: all;
  transition-duration: 0.5s;
  width: 60px;
  height: 60px;
  background-color: rgb(164, 177, 176);
  border-radius: 50%;
}

#location-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

#location-btn img:hover {
  opacity: 0.8;
}

#location-btn img {
  transition-property: all;
  transition-duration: 0.5s;
  display: block;
  margin: 1rem auto 0;
  width: 30px;
  height: 30px;
}

#city {
  font-size: 2rem;
}

.weather-data {
  display: flex;
  flex-direction: column;
}

.main-states {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#temperature {
  font-size: 2rem;
}

.feeling-state-block {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

#state {
  display: flex;
  align-items: center;
}
#state img {
  width: 40px;
  height: 40px;
}

.other-states {
  display: flex;
  justify-content: start;
  margin: 1rem auto;
}

.other-states img {
  width: 30px;
  height: 30px;
}

#wind,
#humidity,
#pressure {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 0;
}

#time-weather-prediction {
  display: flex;
  justify-content: space-evenly;
}

.forecast-element img {
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  #wind,
  #humidity,
  #pressure {
    padding: 1rem 2rem 0;
  }
}

@media (max-width: 730px) {
  #wind,
  #humidity,
  #pressure {
    padding: 1rem 1rem 0;
  }
}

@media (max-width: 570px) {
  #wind,
  #humidity,
  #pressure {
    flex-direction: column;
  }
  #location-btn {
    margin-top: 1rem;
    width: 40px;
    height: 40px;
  }
  #location-btn img {
    margin-top: 0.7rem;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 350px) {
  #city {
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  #location-btn {
    margin-top: 0;
    margin: 1rem auto;
  }
  #location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
